fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
matplotlib
aiofiles
pydantic[email]
psycopg2-binary
pandas
numpy
openai
langchain
langchain-openai
langgraph
python-dotenv
requests
tensorflow
joblib
scikit-learn
apscheduler
httpx